@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper{
    width: 45vw;
    border-radius: .5em;
    overflow: hidden;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
}
.top-section{
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 2em;
}
.top-section h1{
    color: hsl(179, 61%, 44%);
    font-size: 1.6em;
    margin-bottom: 1em;
}
.top-section h2{
    color: hsl(71, 73%, 54%);
    font-size: 1.1em;
    letter-spacing: .025em;
    margin-bottom: .85em;
}
.top-section p{
    letter-spacing: .03em;
    font-size: .9em;
    width: 90%;
    line-height: 1.6em;
    color: hsl(218, 22%, 67%);
    margin-bottom: .5em;
}
.bottom-section{
    width: 100%;
    display: flex;
    color: hsl(0, 0%, 100%);
}
.bottom-section .left{
    padding: 2em;
    padding-bottom: 2em;
    width: 50%;
    background-color: hsl(179, 61%, 44%);
}
.left h2{
    font-size: 1.1em;
    margin-bottom: 1em;
}
.left .price-section{
    display: flex;
    align-items: center;
    margin-bottom: .5em;
}
.left .price-section p{
    color: hsl(179, 47%, 72%);
}
.left .price {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 2em;
    margin-right: .4em;
}
.left .text{
    margin-bottom: 2em;
}
.left .text p{
    font-size: 1.025em;
    letter-spacing: .02em;
}
.left button{
    background-color: hsl(71, 73%, 54%);
    color: hsl(0, 0%, 100%);
    border: 0;
    width: 100%;
    border-radius: .3em;
    padding: .9em 0;
    letter-spacing: .03em;
    font-size: 1em;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
}
.bottom-section .right{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    width: 50%;
    padding: 2em;
    padding-bottom: 0;
    background-color: hsl(179, 47%, 52%);
}
.right h2 {
    font-size: 1.1em;
    margin-bottom: 1em;
}
.right p{
    font-size: .85em;
    line-height: 1.5em;
    letter-spacing: .025em;
    color: hsl(179, 47%, 78%);
}

@media (max-width: 430px){
    .wrapper{
        width: 80vw;
    }
    .top-section{
        padding: 1.5em;
    }
    .top-section h1 {
        font-size: 1.15em;
    }
    
    .top-section h2 {
        font-size: .9em;
        letter-spacing: .025em;
        margin-bottom: .85em;
    }
    
    .top-section p {
        letter-spacing: .01em;
        font-size: .8em;
        width: 100%;
        line-height: 1.75em;
    }
    .bottom-section{
        flex-direction: column;
    }
    .bottom-section .left{
        width: 100%;
    }
    .bottom-section .right{
        width: 100%;
    }
    
}